@use 'resources/partials/_.scss' as main;

body {
  main {
    font-family: sans-serif;

    nav {
      a {
        text-decoration: none;

        &.active {
          text-decoration: underline;
        }
      }
    }
  }
}
