@import 'resources/partials/_.scss';

body {
  main {
    font-family: sans-serif;

    nav {
      a {
        text-decoration: none;

        &.active {
          text-decoration: underline;
        }
      }
    }
  }
}
